@charset "UTF-8";

.blogpostContainer {

  & h1 {
    text-align: center;
  }

  & ol {
    margin-left: 20px;
  }

  & ul {
    margin-left: 20px;
  }
}

.linkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}




