@charset "UTF-8";

// fix odd bug of no bg color on mobile
.main {
	background: $background-color1;
    background: linear-gradient(90deg, $background-color1 0%, $background-color2 50%, $background-color1 100%);
}

.gallery {
	&__imgBox {

		& img {
			padding-bottom: 10px;
		}
	}
}

@media screen and (min-width: 750px) {
	.gallery {
		display: flex;
		flex-wrap: wrap;
		&__imgBox {
			width: 49%;
    		margin: auto;
		}
	}
}