@charset "UTF-8";
/*Colors #c85ec7 #a849a3  */

$background-color1: rgba(200, 94, 199,1);
$background-color2: rgba(168, 73, 163,1);
$hero-color1: rgba(254, 255, 232, 1);
$hero-color2: rgba(214, 219, 191,1);

/*Font*/
$default-font-size: 1.5rem;
$big-font-size: 1.75rem;

/*border radius*/
$border-radius-small: 6px;
$border-radius-large: 10px;

/*max width*/
$max-width: 100rem;